.markdown-body {
  font-size: 20px;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: Helvetica;
  margin: 0.3cm 0.7cm;
}

a:active,
a:hover {
  outline: 0px;
}

img {
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.max-height-250 {
  max-height: 250px;
}

.side-om-side img {
  width: 49.6%;
  max-width: 49.6%;
}

.side-om-side:first-child {
  margin-left: 2px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

em {
  background-color: yellow;
}

h1 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 21px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}

ul,
ol {
  list-style-type: 'test ';
  margin-top: 4px;
  margin-bottom: 4px;
}
